---
import MainLayout from "../layouts/MainLayout.astro";

// code fence --> component script --> Server only

const name = "John Doe";
---

<MainLayout title="Home Page">
  <h1>{name}</h1>

  <p>Static Now date: {new Date().toLocaleTimeString()}</p>
  <p id="scriptdate"></p>

  <script>
    const currentTime: string = new Date().toLocaleTimeString();

    const dateParagraph = document.querySelector(
      "#scriptdate"
    ) as HTMLParagraphElement;
    if (dateParagraph)
      dateParagraph.innerText = `Script Now date: ${currentTime}`;
  </script>
</MainLayout>
